
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Baloo+Bhaina+2:wght@600&family=Manrope:wght@200..800&display=swap');
 
// <uniquifier>: Use a unique and descriptive class name

.baloo-bhaina-2-<uniquifier> {
  font-family: "Baloo Bhaina 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@import url("https://use.typekit.net/npw2xun.css");


:root{
--text-color: #000000;
--color-description: #999999;
--base-color: #f4f4f4;
}

* {
    margin: 0;
    padding; 0;
    box-sizing; border-box;
}


html {
    font-family: 'Baloo Bhaina 2';
    color: var(--text-color);
}


.top img {
  width: 100%;   /* fills horizontal space */
  min-width: 930px;
  height: auto;  /* keeps proportions */
  display: block;
}

body {
    padding: 0;
    font-family: 'Bai Jamjuree', Regular;
    background-color: var(--base-color) ;
}


h3 {
    font-family: 'Baloo Bhaina 2';
    font-size: 1.25em;
    margin-left: -20px;
    margin-bottom: 10px;
}

.price {
    font-family: 'Bai Jamjuree', Regular;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.commercial {
    font-family: 'Bai Jamjuree' ;
    font-size: 0.8em;
    color: var(--color-description);

}
.bustup {
    font-family: 'Baloo Bhaina 2';
    font-size: 1.2em;
    margin-left: 20px;
    margin-bottom: 10px;
}



.profile-section {

  display: flex;
  align-items: center;   /* vertical align */
  gap: 40px;  
  position: relative;
  padding-left: 4em;
  margin-top: -100px; /* ดึงขึ้นไปทับ header */
  margin-bottom: 20px;
}


nav ul {
font-family: 'Baloo Bhaina 2';
 font-size: clamp(1.5rem,1.7vw,5rem);
  display: flex;
  gap: 2.5em;
  list-style: none;
   margin-top: 5em;
  padding: 0;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: transform 0.2s ease;
}

nav a:hover {
  transform: scale(1.2);
  color: red;
}

.text-container{
    
 display: flex;
  align-items: flex-start;   /* 🔥 align to top */
  gap: 40px;  
  position: relative;
}

@media (max-width: 480px) {
    
    .text-container {
        flex-direction: column;
        
    }

    .sidebar {
     
        margin-bottom: 20px;
    }

    nav ul li {
        display: none;}
        
    nav ul {
    flex-direction: column;   
    align-items: flex-start;  
    
    padding-left: 1.5em;
    gap: 0em;                
    margin-top: 5em;      
    }  

    

     nav ul li:first-child, nav ul li:nth-child(2),nav ul li:nth-child(3) {
        display: block;
    
        
    }
    }
    
  





.sidebar {
  
    padding-left: 6vh;
    width: 210px;
    
}

.sidebar h1 {
  font-family: 'Baloo Bhaina 2';
  font-size: 2.3em;
 

}



.sidebar .text-main {
  margin-top: -16px;
  font-family: 'Manrope', Regular;
  font-size: 1.2em;
  color: var(--color-description);
  margin-bottom: 20px;
}

.sidebar .text-secondary {
  font-family: 'Myriad Pro', Regular;
  font-size: 1em;
  color: var(--text-color);
  margin-bottom: 20px;
}

.flex-container {

  display: flex;
  align-items: center;
  gap: 20px;

}

.flex-container img {
  height: 20px;
  width: auto;
  display: block;
  
 
}

.flex-container a:hover {
    
  transform: scale(1.6);
  
}


.content{
    padding-left: 7vh;
}

.image-wrapper {
    position: relative;   
    display: inline-block;
    text-decoration: none; /* remove underline */
    color: inherit;   /* use normal text color */
    margin-bottom: 10px;
}
.content-img {
  display: block;
  border-radius: 40px;
  width: 100%;
  max-width: 931.32px;
  min-width: 600px;
  height: auto;
  overflow: hidden;
  
}

.content a {

    display: inline-block; 
    transition: transform 0.3s ease;
    
    
}

.content a:hover {
    transform: scale(1.05);
}

.text-overlay {
    position: absolute;
    bottom: 42%;
    left: 53%;
    font-size: clamp(12px, 1.58vw, 20px);

    
}
